<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A&D Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js">
        async function initializeCard(payments) {
            const card = await payments.card();
            await card.attach('#card-container');
            return card;
        }

        document.addEventListener('DOMContentLoaded', async function () {
            if (!window.Square) {
                throw new Error('Square.js failed to load properly');
            }
            const payments = window.Square.payments(appId, locationId);
            let card;
            try {
                card = await initializeCard(payments);
            } catch (e) {
                console.error('Initializing Card failed', e);
                return;
            }

            // Step 5.2: create card payment
        });
    </script>.
</head>

<body>
<%- include('partials/navbar.ejs') %>

<section id="page-header">
    <h2>#teachstyle</h2>
    <p>Teach style and live stylishly with us</p>
    </div>
</section>


<section id="product1" class="section-p1">
    <div class="pro-container">
        <label for="data" class="form-label"></label>
        <% if(Array.isArray(product)){%>
        <%for(let i = 0; i < product.length; i++){%>
        <div class="pro">
            <img src="<%=product[i].imageURL%>">
            <div class="des">
                <h5><%=product[i].name%></h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span><%=product[i].description%></span>
                <h4><%=product[i].price%></h4>
            </div>
            <a href="/product" class="cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <%}%>
        <%}else{%>
        <label for="data" class="form-label"> <%=product%></label>
        <%}%>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your E-mail address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<%- include('partials/footer.ejs') %>

</body>

</html>